ServidorNotas/Connected Services/ServicioUsuario/usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://services.academico.ulasalle.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://services.academico.ulasalle.com" targetNamespace="http://services.academico.ulasalle.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://services.academico.ulasalle.com">
      <xsd:element name="sesionValida">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dni" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sesionValidaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sesionValidaReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getInformacion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dni" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getInformacionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getInformacionReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPeriodos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dni" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPeriodosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getPeriodosReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setContrasena">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dni" type="xsd:string" />
            <xsd:element name="contrasena" type="xsd:string" />
            <xsd:element name="nuevaContrasena" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setContrasenaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="setContrasenaReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getInformacionRequest">
    <wsdl:part name="parameters" element="impl:getInformacion" />
  </wsdl:message>
  <wsdl:message name="setContrasenaResponse">
    <wsdl:part name="parameters" element="impl:setContrasenaResponse" />
  </wsdl:message>
  <wsdl:message name="sesionValidaRequest">
    <wsdl:part name="parameters" element="impl:sesionValida" />
  </wsdl:message>
  <wsdl:message name="getPeriodosRequest">
    <wsdl:part name="parameters" element="impl:getPeriodos" />
  </wsdl:message>
  <wsdl:message name="getInformacionResponse">
    <wsdl:part name="parameters" element="impl:getInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="sesionValidaResponse">
    <wsdl:part name="parameters" element="impl:sesionValidaResponse" />
  </wsdl:message>
  <wsdl:message name="getPeriodosResponse">
    <wsdl:part name="parameters" element="impl:getPeriodosResponse" />
  </wsdl:message>
  <wsdl:message name="setContrasenaRequest">
    <wsdl:part name="parameters" element="impl:setContrasena" />
  </wsdl:message>
  <wsdl:portType name="usuario">
    <wsdl:operation name="sesionValida">
      <wsdl:input name="sesionValidaRequest" message="impl:sesionValidaRequest" />
      <wsdl:output name="sesionValidaResponse" message="impl:sesionValidaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInformacion">
      <wsdl:input name="getInformacionRequest" message="impl:getInformacionRequest" />
      <wsdl:output name="getInformacionResponse" message="impl:getInformacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPeriodos">
      <wsdl:input name="getPeriodosRequest" message="impl:getPeriodosRequest" />
      <wsdl:output name="getPeriodosResponse" message="impl:getPeriodosResponse" />
    </wsdl:operation>
    <wsdl:operation name="setContrasena">
      <wsdl:input name="setContrasenaRequest" message="impl:setContrasenaRequest" />
      <wsdl:output name="setContrasenaResponse" message="impl:setContrasenaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="usuarioSoapBinding" type="impl:usuario">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sesionValida">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sesionValidaRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sesionValidaResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformacion">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getInformacionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInformacionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeriodos">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPeriodosRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPeriodosResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setContrasena">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setContrasenaRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setContrasenaResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="usuarioService">
    <wsdl:port name="usuario" binding="impl:usuarioSoapBinding">
      <wsdlsoap:address location="http://academico.ulasalle.edu.pe:8080/services/services/usuario" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>